.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: forestgreen;
}

.card {
  padding: 30px;
}

#blink {
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
  font-weight: bold;
  color: #f00;
}

@-webkit-keyframes blink {
  0% {
    color: #f00;
  }
  50% {
    color: #fbb;
  }
  100% {
    color: #f00;
  }
}

@keyframes blink {
  0% {
    color: #f00;
  }
  50% {
    color: #fbb;
  }
  100% {
    color: #f00;
  }
}
